.users-list ul{
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    height: calc(100vh - 115px);
    background-color: whitesmoke;
  }
  .users-list ul li{
    list-style: none;
    float: left;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
  }
  .user-options{
    display: none;
    position: absolute;
    top: 0px;
    right: calc(100% - -2px);
    min-width: 200px;
    border-right: 5px solid white;
    background-color: #f4f4f4;
    z-index: 1;
  }
  .user-options h5{
    font-size: 13px;
    font-weight: bold;
    background-color: #64c5f0;
    padding: 5px;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
  .user-options::after{
    content: "";
    position: absolute;
    left: calc(100% - 4px);
    top: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #64c5f0;
    clear: both;
    transform: rotate(-90deg);
  }

  .users-list ul li .user-options ul li {
    list-style: none;
    float: left;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 3px 10px;
    position: relative;
    border-bottom: 1px solid #ebebeb;
}
.user-options ul{
  height: auto;
}
.focused{
  border: 1px solid red;
}
.user-image-list{
  width: 25px;
    float: left;
    height: 25px;
    margin-right: 7px;
}
.user-image-list img{
  max-width: 100%;
  padding: 2px;
  border-radius: 50%;
}
.user-name-list{
  text-transform: capitalize;
  padding-top: 2px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 75%;
}
.users-loader{
  position: absolute;
  z-index: 1;
  width: 100%;
}
.users-loader ul li{
  list-style: none;
  float: left;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 5px 10px;
  position: relative;
  border-left: 5px solid transparent;
}
.users-loader ul {
padding: 0;
margin: 0;
height: calc(100% - 65px);
background-color: whitesmoke;
overflow-y: auto;
}
.users-loader ul li .user-name-list {
width: calc(100% - 33px);
}
.users-loader ul li .user-image-list {
animation-duration: 1s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
animation-name: placeHolderShimmer;
animation-timing-function: linear;
background: #f6f7f8;
background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
background-size: 800px 104px;
height: 23px;
position: relative;
border-radius: 50%;
}

@keyframes placeHolderShimmer {
0% {
    background-position: -468px 0
}
100% {
    background-position: 468px 0
}
}

.animated-background {
animation-duration: 1s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
animation-name: placeHolderShimmer;
animation-timing-function: linear;
background: #f6f7f8;
background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
background-size: 800px 104px;
height: 23px;
position: relative;
}