.profile-page {
    width: 100%;
    background-size: cover;
    background-color: #e1e1e1;
    height: 450px;
  }
  
//   .profile-form-holder {
//     background-color: var(--blue);
//     height: 100vh;
//   }
  
  .profile-form-box {
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 0px 15px;
  }
  
  .profile-form-box h3 {
    font-size: 22px;
  }
  
  .profile-form-box h4 {
    font-size: 20px;
    padding-top: 15px;
    margin-bottom: 20px;
    text-align: left;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
  }
  
.user-icon
{
    width: 130px;
    border-radius: 50%;
    height: 130px;
    border: 1px solid #4f4f4f;
    padding: 10px;
    margin-bottom: 15px;
}
.profile-form-box button.cancel-btn{
    background: #212529;
    color: #fff;
}
.profile-data{
    color: black;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.discard-btn{
    font-size: 35px;
    height: 50px;
    width: 50px;
    /* position: relative; */
    /* right: 0px; */
    float: right;
    margin-top: 10px;
    color: #000;
    cursor: pointer;
}